.app_light_theme {
  --bg-color: #f2f2f2;
  --inverted-bg-color: #0e0e75;
  --primary-color: #0232c2;
  --secondary-color: #0655ff;
  --inverted-primary-color: #049604;
  --inverted-secondary-color: #04ff04;
}
