.ProfileCard {
  padding: 20px;
  border: 2px solid var(--inverted-bg-color);
}

.input input {
  border: none;
  background: none;
}

.loading,
.error {
  height: 300px;
}

.editing {
  border: 2px solid var(--inverted-primary-color);

  input {
    border: 1px solid var(--primary-color);
    background: white;
  }
}
